# ==========================================
# TEMPLATE KONFIGURASI SUPABASE & DATABASE
# ==========================================

# Supabase API Credentials
SUPABASE_URL=https://zaayyotazglzuiyniwwu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphYXl5b3RhemdsenVpeW5pd3d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3MTY5NjksImV4cCI6MjEwMzI5Mjk2OX0.hNWwyo2Un_stpSCcPTVWRXJc0GNZJrQ2g7jFPs_siI4
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphYXl5b3RhemdsenVpeW5pd3d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3MTY5NjksImV4cCI6MjEwMzI5Mjk2OX0.hNWwyo2Un_stpSCcPTVWRXJc0GNZJrQ2g7jFPs_siI4

# PostgreSQL Database Connection URI
# Ganti [YOUR_PASSWORD] dengan password database Supabase Anda
DATABASE_URL=postgresql://postgres.zaayyotazglzuiyniwwu:[YOUR_PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres

# Secret Key Flask
SECRET_KEY=sentimen-ai-secret-key-2024
