# ==========================================
# TEMPLATE KONFIGURASI SUPABASE & NEXT.JS
# ==========================================

# Supabase Public API Credentials (Next.js Client & Server)
NEXT_PUBLIC_SUPABASE_URL=https://zaayyotazglzuiyniwwu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphYXl5b3RhemdsenVpeW5pd3d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3MTY5NjksImV4cCI6MjEwMzI5Mjk2OX0.hNWwyo2Un_stpSCcPTVWRXJc0GNZJrQ2g7jFPs_siI4

# Supabase Server Credentials
SUPABASE_URL=https://zaayyotazglzuiyniwwu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphYXl5b3RhemdsenVpeW5pd3d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3MTY5NjksImV4cCI6MjEwMzI5Mjk2OX0.hNWwyo2Un_stpSCcPTVWRXJc0GNZJrQ2g7jFPs_siI4
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphYXl5b3RhemdsenVpeW5pd3d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3MTY5NjksImV4cCI6MjEwMzI5Mjk2OX0.hNWwyo2Un_stpSCcPTVWRXJc0GNZJrQ2g7jFPs_siI4

# PostgreSQL Database Connection URI
DATABASE_URL=postgresql://postgres.zaayyotazglzuiyniwwu:[YOUR_PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require

# Secret Key
SECRET_KEY=sentimen-ai-secret-key-2024
